* { 
	/* reseting annoying predefined marging-padding of html tag */
    margin: 0;
    padding: 0;
}

body {
	background-image: url(https://source.unsplash.com/random/?birthday), linear-gradient(-135deg, rgba(255,12,128, 1), rgba(55, 128, 225, 1));
	background-repeat: no-repeat;
	background-position: center;
 	color:white;
	/*fullscreen background fix*/
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	width: auto;
	
}

.container {
	margin: auto;
	display: flex;
/* 	flex-direction: column; */
	justify-content: center;
	align-items: center;
	width: 98vw;
	height: 98vh;
	flex-flow: wrap;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
}

.container #profile{
	width: 65vmin;
	height: auto;
	max-width: 273px;
	margin: 2vmin ;
}

.container p{
	text-align: center;
	/* font styling */
	font-family: 'Dancing Script', cursive;
	text-shadow: 1px 1px 3px black;
	/* letter-spacing: 0.05vmin; */
	word-spacing: 1vmin;
	font-weight: bold;
	font-size: 1.75rem;
	/* auto enter and remove unwanted padding */
	white-space: pre-line;
	border-radius: 20px;
	padding: 2vmin;
}

#playerIcon {
	border: 2px solid white;
	width: 12vmin;
	height: 12vmin; 
	z-index: 2;
	border-radius: 50%;
	position: fixed;
	bottom: 4vmin;
	right: 4vmin;
}

