body {
	background-image: url("resources/birthdayBG.png");
	background-repeat: no-repeat;
	background-position:top;
	background-size: 100vw;
 	background-color:#7bdeed;
 	color:white;
}

.center {
	padding: 1px 1px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	display: block;
}

h1 {
	margin: auto;
	text-align: center;
	font-size: 2.5em;
}
p{ 
	margin: auto;
	text-align: center;
	font-size: 1.5em;

}

song{
	display: none;

}
